<SCRIPT  language=JavaScript> 
function go(){

if (document.form.password.value=='admin' && document.form.login.value=='admin'){ 
        document.form.submit(); 
    } 
    else{ 
         alert("Porfavor ingrese, nombre de usuario y contraseña correctos."); 
    } 
} 
</SCRIPT>
<br><br><br><br><br><br><br><br><br><br><br><br>
<div class="login-reg-panel">
  <div class="register-info-box">
  </div>

  <div class="white-panel">
    <div class="login-show">
      <h2>Iniciar session</h2>
      <form action="/product" name=form>
          <input type="text" placeholder="Correo" name=login>
          <input type="password" placeholder="Contraseña" name=password>
          <input type="button" value="Ingresar" onclick=go()>
      </form>
    </div>
  </div>
</div>
<script src="/js/login.js"></script>