<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
        <div class="container">
            <a class="navbar-brand" href="/"><b>Route Pin </b><i class="fas fa-route fa-lg"></i></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <div class="navbar-nav ml-auto">
                    <form class="form-inline mt-2 mt-md-0">
                        {{!-- <a href="/admin" class="navbar-brand">
                            <i class="far fa-user"></i> Administrator
                        </a> --}}
                        <a href="/cart" class="navbar-brand">
                        <i class="fas fa-shopping-bag fa-lg"></i>
                        <i class="badge badge-pill badge-danger" id="cart_n"></i>
                        </a>
                    </form>
                </div>
            </div>
        </div>
    </nav>
</header>
<div class="container mt-3">
    <main role="main">
        <div class="row">
            <div class="col">
                <div class="table-responsive-sm">
                    <table class="table">
                        <thead class="black white-text">
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Product</th>
                                <th scope="col">Description</th>
                                <th scope="col">Quantity</th>
                                <th scope="col">Price</th>
                            </tr>
                        </thead>
                        <tbody id="table">

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <hr class="featurette-divider">
    </main>
</div>
<script src="/js/cart.js"></script>