<br><br><br><br>
<div class="px-8 px-lg-0">
    <div class="pb-5">
        <div class="container-fluid" style="width: 90%;">
            <div class="row">
                <div class="col-lg-8 p-1 bg-white rounded shadow-sm mb-1">
                    <!-- Shopping cart table -->
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col" class="border-0 bg-light">
                                        <div class="p-2 px-3 text-uppercase font-weight-bold">Producto</div>
                                    </th>
                                    <th scope="col" class="border-0 bg-light">
                                        <div class="py-2 text-uppercase font-weight-bold">Precio</div>
                                    </th>
                                </tr>
                            </thead>
                            <tbody id="table">
                                
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col-sm-auto"></div>
                <div class="col-lg-3 p-1 bg-white rounded shadow-sm mb-1">
                    <div class="col-lg-12">
                        <div class="py-2 text-center text-uppercase font-weight-bold">Resumen del pedido</div>
                        <hr>
                        <div class="p-1" id="totalOrder">
                            <p class="font-italic mb-4">Los costos adicionales se calculan en función de los valores que haya ingresado.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="/js/cart.js"></script>