<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
        <div class="container">
            <a class="navbar-brand" href="/"><b>Route Pin </b><i class="fas fa-route fa-lg"></i></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <div class="navbar-nav ml-auto">
                    <form class="form-inline mt-2 mt-md-0">
                        {{!-- <a href="/admin" class="navbar-brand">
                            <i class="far fa-user"></i> Administrator
                        </a> --}}
                        <a href="/cart" class="navbar-brand">
                            <i class="fas fa-shopping-bag fa-lg"></i>
                            <i class="badge badge-pill badge-danger" id="cart_n"></i>
                        </a>
                    </form>
                </div>
            </div>
        </div>
    </nav>
</header>
<div class="px-12 px-lg-0">
    <div class="pb-5">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 p-1 bg-white rounded shadow-sm mb-1">
                    <form action="/adm/data-edit/{{data._id}}?_method=PUT" method="post">
                    <input type="hidden" name="_method" value="PUT">
                        <div class="form-group">
                            <label>Nombre</label>
                            <input name="name" type="text" class="form-control" placeholder="Ingrese nombre" value="{{data.name}}">
                        </div>
                        <div class="form-group">
                            <label>Descripcion</label>
                            <textarea name="description"class="form-control" rows="3">{{data.description}}</textarea>
                        </div>
                        <div class="form-group">
                            <label>Precio</label>
                            <input type="text" name="price" class="form-control" placeholder="Ingrese precio" value="{{data.price}}">
                        </div>
                        <button type="submit" class="btn btn-primary btn-block">Actualizar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>