<body>

    <header>Payment accepted</header>

    <div class="container">

        <img src="/checkout.png" alt="Checkout Page">

        <form action="/" method="get">
            <button type="submit">Back to home</button>
        </form>
    </div>

</body>