<br><br>
<section id="team" class="pb-5">
    <div class="container">
        <h5 class="section-title h1">Mis destinos</h5>
        <div class="row">
            {{#each order}}
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="image-flip" >
                    <div class="mainflip flip-0">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body text-center">
                                    <p><img class=" img-fluid" src="{{this.path}}" alt="card image"></p>
                                    <h4 class="card-title">{{this.name}}</h4>
                                    <p class="card-text">{{this.description}}</p>
                                    <a href="https://www.fiverr.com/share/qb8D02" class="btn btn-primary btn-sm"><i class="fas fa-download"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="backside">
                            <div class="card">
                                <div class="card-body text-center mt-4">
                                    <h4 class="card-title">Escanear boleto</h4>
                                    <p><img class=" img-fluid" src="/img/qr-imagen.png" alt="card image"></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {{/each}}
        </div>
    </div>
</section>