.imgFilter{
    filter: brightness(0.80);
}

/* FontAwesome for working BootSnippet :> */

@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
#team {
    background: #eee0  !important;
}

.btn-primary:hover,
.btn-primary:focus {
    background-color: #108d6f;
    border-color: #108d6f;
    box-shadow: none;
    outline: none;
}

.btn-primary {
    color: #fff;
    background-color: #007b5e;
    border-color: #007b5e;
}

section {
    padding: 60px 0;
}

section .section-title {
    text-align: center;
    margin-bottom: 50px;
    text-transform: uppercase;
}

#team .card {
    border: none;
    background: #ffffff;
}

.image-flip:hover .backside,
.image-flip.hover .backside {
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    transform: rotateY(0deg);
    border-radius: .25rem;
}

.image-flip:hover .frontside,
.image-flip.hover .frontside {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

.mainflip {
    -webkit-transition: 1s;
    -webkit-transform-style: preserve-3d;
    -ms-transition: 1s;
    -moz-transition: 1s;
    -moz-transform: perspective(1000px);
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transition: 1s;
    transform-style: preserve-3d;
    position: relative;
}

.frontside {
    position: relative;
    -webkit-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    z-index: 2;
    margin-bottom: 30px;
}

.backside {
    position: absolute;
    top: 0;
    left: 0;
    background: white;
    -webkit-transform: rotateY(-180deg);
    -moz-transform: rotateY(-180deg);
    -o-transform: rotateY(-180deg);
    -ms-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
    -webkit-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
    -moz-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
    box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
}

.frontside,
.backside {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: 1s;
    -webkit-transform-style: preserve-3d;
    -moz-transition: 1s;
    -moz-transform-style: preserve-3d;
    -o-transition: 1s;
    -o-transform-style: preserve-3d;
    -ms-transition: 1s;
    -ms-transform-style: preserve-3d;
    transition: 1s;
    transform-style: preserve-3d;
}

.frontside .card,
.backside .card {
    min-height: 312px;
}

.backside .card a {
    font-size: 18px;
    color: #007b5e !important;
}

.frontside .card .card-title,
.backside .card .card-title {
    color: #007b5e !important;
}

.frontside .card .card-body img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
}

.img-fluid-search{
    height: 300px;
    width: 500px;
}

#custom-search-input {
    margin:0;
    margin-top: 10px;
    padding: 0;
}
 
#custom-search-input .search-query {
    width:100%;
    padding-right: 3px;
    padding-left: 15px;
        /* IE7-8 doesn't have border-radius, so don't indent the padding */
    margin-bottom: 0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 0;
}
 
#custom-search-input button {
    border: 0;
    background: none;
    /** belows styles are working good */
    padding: 6px 16px;
    margin-top: 2px;
    position: absolute;
    right:0;
    /* IE7-8 doesn't have border-radius, so don't indent the padding */
    margin-bottom: 0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    color:#D9230F;
    cursor: unset;
    z-index: 2;
}
 
.search-query:focus{
    z-index: 0;   
}

.card {
    border-radius: 6px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.23);
    background-color: #FFFFFF;
    margin-bottom: 20px;
    position: relative;
    max-width: 320px;
    margin-left: auto;
    margin-right: auto;
  }
  .card .title,
  .card .stats,
  .card .category,
  .card .description,
  .card .social-line,
  .card .actions,
  .card .content,
  .card .footer,
  .card small {
    position: relative;
    z-index: 3;
  }
  .card a {
    color: #444444;
  }
  .card a:hover, .card a:focus {
    color: #333333;
  }
  .card[data-radius="none"] {
    border-radius: 0px;
  }
  .card[data-radius="none"] .header {
    border-radius: 0px 0px 0 0;
  }
  .card[data-radius="none"] .header img {
    border-radius: 0px 0px 0 0;
  }
  .card.card-plain {
    box-shadow: none;
  }
  .card .btn {
    text-shadow: none;
    font-weight: bold;
  }
  .card .title-uppercase {
    text-transform: uppercase;
  }
  .card .header {
    position: relative;
    border-radius: 6px 6px 0 0;
    height: 200px;
    z-index: 3;
  }
  .card .header img {
    opacity: 0;
    filter: alpha(opacity=0);
    display: none;
  }
  .card .header .category {
    padding: 15px;
  }
  .card .header .social-line {
    position: absolute;
    bottom: 0;
    width: 100%;
    opacity: 0;
    filter: alpha(opacity=0);
    display: block;
    transition: all 0.4s;
    -webkit-transition: all 0.4s;
  }
  .card .header .social-line .btn,
  .card .header .social-line a {
    font-family: "Roboto","Helvetica","Arial", sans-serif;
    font-weight: 400;
  }
  .card .header .social-line.social-line-visible {
    opacity: 1;
    filter: alpha(opacity=100);
  }
  .card .content .price {
    border: 2px solid rgba(255, 255, 255, 0.7);
    color: white;
    border-radius: 50%;
    width: 152px;
    height: 152px;
    margin: 50px auto;
    text-align: center;
    vertical-align: middle;
    line-height: 200px;
  }
  .card .content .price h4 {
    margin: 5px 0 0;
    font-size: 36px;
  }
  .card .content .price h6 {
    margin-top: 45px;
    font-size: 16px;
  }
  .card .content .price .currency {
    font-size: 22px;
    font-weight: normal;
  }
  .card .actions {
    padding: 10px 15px;
  }
  .card .social-line .btn {
    float: left;
    display: block;
    transition: all 0.2s;
    -webkit-transition: all 0.2s;
  }
  .card .social-line .btn-social {
    border: 1px solid #EEEEEE;
    border-radius: 0;
    border-left: 0;
    background-color: #FFFFFF;
    padding: 12px 4px;
  }
  .card .social-line .btn-social:last-child {
    border-right: 0;
  }
  .card .social-line[data-buttons="5"] .btn {
    width: 20%;
  }
  .card .social-line[data-buttons="4"] .btn {
    width: 25%;
  }
  .card .social-line[data-buttons="3"] .btn {
    width: 33.3333333%;
  }
  .card .social-line[data-buttons="2"] .btn {
    width: 50%;
  }
  .card .social-line:after {
    clear: both;
    display: table;
    content: " ";
  }
  .card .filter,
  .card .header .actions {
    position: absolute;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.76);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    opacity: 0;
    filter: alpha(opacity=0);
  }
  .card .header .actions {
    background-color: transparent;
    z-index: 3;
  }
  .card .header .actions .btn {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  .card:hover .filter {
    opacity: 0.7;
    filter: alpha(opacity=70);
  }
  .card:hover .header .social-line,
  .card:hover .header .actions {
    opacity: 1;
    filter: alpha(opacity=100);
  }
  .card .category,
  .card .label {
    font-size: 14px;
    margin-bottom: 0px;
  }
  .card .category i,
  .card .label i {
    font-size: 16px;
  }
  .card .category {
    color: #9A9A9A;
  }
  .card .label {
    text-shadow: none;
  }
  .card .title {
    color: #333333;
  }
  .card > .title {
    margin: 0;
    padding: 30px 0 0;
  }
  .card .content {
    padding: 15px 15px 5px 15px;
  }
  .card .content .title {
    margin: 10px 0 20px 0;
  }
  .card .content .category ~ .title {
    margin-top: 0px;
  }
  .card .content .description ~ .title {
    margin-top: -10px;
  }
  .card .description {
    font-size: 16px;
    color: #9A9A9A;
  }
  .card h6 {
    font-size: 12px;
    margin: 0;
  }
  .card .footer {
    padding: 0 15px 15px;
  }
  .card .footer .social-line .btn:first-child {
    border-radius: 0 0 0 6px;
  }
  .card .footer .social-line .btn:last-child {
    border-radius: 0 0 6px 0;
  }
  .card.card-separator:after {
    height: 100%;
    right: -15px;
    top: 0;
    width: 1px;
    background-color: #DDDDDD;
    content: "";
    position: absolute;
  }
  .card .icon {
    display: block;
    margin: 0 auto;
    top: 50%;
    position: relative;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    text-align: center;
  }
  .card .icon i {
    font-size: 60px;
    border: 2px solid rgba(0, 0, 0, 0.3);
    padding: 18px;
    border-radius: 50%;
  }
  .col-lg-4 .card .icon i {
    font-size: 80px;
    padding: 22px;
  }
  .card.card-with-border .content {
    padding: 15px 15px 25px 15px;
  }
  .card.card-with-border .footer {
    padding-bottom: 25px;
  }
  .card.card-with-border:after {
    position: absolute;
    display: block;
    width: calc(100% - 10px);
    height: calc(100% - 10px);
    content: "";
    top: 5px;
    left: 5px;
    border: 1px solid rgba(0, 0, 0, 0.15);
    z-index: 1;
    border-radius: 5px;
  }
  .card.card-just-text .content {
    padding: 50px 65px;
    text-align: center;
  }
  .card[data-background="image"] .image, .card[data-background="color"] .image {
    border-radius: 6px;
  }
  .card[data-background="image"] .title, .card[data-background="color"] .title {
    font-weight: bold;
  }
  .card[data-background="image"] .filter, .card[data-background="color"] .filter {
    border-radius: 6px;
  }
  .card[data-background="image"] .title,
  .card[data-background="image"] .stats,
  .card[data-background="image"] .category,
  .card[data-background="image"] .description,
  .card[data-background="image"] .content,
  .card[data-background="image"] .footer,
  .card[data-background="image"] small,
  .card[data-background="image"] a, .card[data-background="color"] .title,
  .card[data-background="color"] .stats,
  .card[data-background="color"] .category,
  .card[data-background="color"] .description,
  .card[data-background="color"] .content,
  .card[data-background="color"] .footer,
  .card[data-background="color"] small,
  .card[data-background="color"] a {
    color: #FFFFFF;
  }
  .card[data-background="image"] a:hover,
  .card[data-background="image"] a:focus, .card[data-background="color"] a:hover,
  .card[data-background="color"] a:focus {
    color: #FFFFFF;
  }
  .card[data-background="image"] .icon i, .card[data-background="color"] .icon i {
    color: #FFFFFF;
    border: 2px solid rgba(255, 255, 255, 0.6);
  }
  .card[data-background="image"].card-with-border:after, .card[data-background="color"].card-with-border:after {
    border: 1px solid rgba(255, 255, 255, 0.45);
  }
  .card[data-background="image"] {
    text-shadow: 0 1px 10px rgba(0, 0, 0, 0.5);
  }
  .card[data-background="image"] .filter {
    opacity: 0.55;
    filter: alpha(opacity=55.0);
  }
  .card[data-background="image"]:hover .filter {
    opacity: 0.75;
    filter: alpha(opacity=75);
  }


  .login-reg-panel{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
	text-align:center;
    width:70%;
	right:0;left:0;
    margin:auto;
    height:400px;
    background-color: rgba(236, 48, 20, 0.9);
}
.white-panel{
    background-color: rgba(255,255, 255, 1);
    height:500px;
    position:absolute;
    top:-50px;
    width:50%;
    right:calc(50% - 50px);
    transition:.3s ease-in-out;
    z-index:0;
    box-shadow: 0 0 15px 9px #00000096;
}
.login-reg-panel input[type="radio"]{
    position:relative;
    display:none;
}
.login-reg-panel{
    color:#B8B8B8;
}
.login-reg-panel #label-login, 
.login-reg-panel #label-register{
    border:1px solid #9E9E9E;
    padding:5px 5px;
    width:150px;
    display:block;
    text-align:center;
    border-radius:10px;
    cursor:pointer;
    font-weight: 600;
    font-size: 18px;
}
.login-info-box{
    width:30%;
    padding:0 50px;
    top:20%;
    left:0;
    position:absolute;
    text-align:left;
}
.register-info-box{
    width:30%;
    padding:0 50px;
    top:20%;
    right:0;
    position:absolute;
    text-align:left;
    
}
.right-log{right:50px !important;}

.login-show, 
.register-show{
    z-index: 1;
    display:none;
    opacity:0;
    transition:0.3s ease-in-out;
    color:#242424;
    text-align:left;
    padding:50px;
}
.show-log-panel{
    display:block;
    opacity:0.9;
}
.login-show input[type="text"], .login-show input[type="email"], .login-show input[type="password"]{
    width: 100%;
    display: block;
    margin:20px 0;
    padding: 15px;
    border: 1px solid #b5b5b5;
    outline: none;
}
.login-show input[type="button"] {
    max-width: 150px;
    width: 100%;
    background: #444444;
    color: #f9f9f9;
    border: none;
    padding: 10px;
    text-transform: uppercase;
    border-radius: 2px;
    float:right;
    cursor:pointer;
}
.login-show a{
    display:inline-block;
    padding:10px 0;
}

.register-show input[type="text"], .register-show input[type="password"]{
    width: 100%;
    display: block;
    margin:20px 0;
    padding: 15px;
    border: 1px solid #b5b5b5;
    outline: none;
}
.register-show input[type="button"] {
    max-width: 150px;
    width: 100%;
    background: #444444;
    color: #f9f9f9;
    border: none;
    padding: 10px;
    text-transform: uppercase;
    border-radius: 2px;
    float:right;
    cursor:pointer;
}