<br><br><br><br><br><br><br><br><br><br><br><br>
<div class="login-reg-panel">
  <div class="register-info-box">
    <h2 style="color: white;">Aún no tienes cuenta?</h2>
    <a href="/users/signup" style="color: white;"><label id="label-login" for="log-login-show" style="border: 1px solid white;">Registrate</label></a>
  </div>

  <div class="white-panel">
    <div class="login-show">
      <h2>Iniciar session</h2>
      <form action="/users/signin" method="POST" id="someid">
          <input type="text" placeholder="Correo" name="email" autofocus>
          <input type="password" placeholder="Contraseña" name="password">
          <input type="button" value="Ingresar" id="buttonid">
      </form>
    </div>
  </div>
</div>
<script src="/js/login.js"></script>