<br><br><br><br><br><br><br><br><br><br><br><br>
<div class="login-reg-panel">
  <div class="register-info-box">
    <h2 style="color: white;">Tienes una cuenta?</h2>
    <a href="/users/signin" style="color: white;"><label id="label-login" for="log-login-show" style="border: 1px solid white;">Iniciar seción</label></a>
  </div>

  <div class="white-panel">
    <div class="login-show">
      <h2>REGISTRARME</h2>
      <form action="/users/signup" method="POST" id="someid">
        <input type="text" name="name" placeholder="Nombre" value="{{name}}">
        <input type="email" name="email" placeholder="Correo" value="{{email}}">
        <input type="password" name="password" placeholder="Contraseña" value="{{password}}">
        <input type="password" name="confirm_password" placeholder="Confirmar Contraseña" value="{{confirm_password}}">
        <input type="button" value="Registrarme" id="buttonid">
      </form>
    </div>
  </div>
</div>
<script src="/js/login.js"></script>